.banner {
    margin-top: 25px;
    min-height: 250px;
    background: url('../img/banners/banner_1.jpg') center (center/cover) no-repeat #00b7d9;
    display: flex;
    justify-content: flex-end;
    &__block {
        flex-basis: 600px;
        margin-right: 100px;
        text-align: center;
        padding: 55px 0 45px;
        text-transform: uppercase;
    }
    &_left {
        margin-top: 90px;
        min-height: 250px;
        background: url('../img/banners/banner_2.jpg') center (center/cover) no-repeat #d7dbd5;
        justify-content: flex-start;
        .banner__block {
            margin-right: 0;
            margin-left: 100px;
        }
    }
}