.banner {
    margin-top: 25px;
    min-height: 250px;
    background: url('../img/banners/banner_offer.jpg') center (center/cover) no-repeat #00b7d9;
    display: flex;
    justify-content: flex-end;
    &__block {
        flex-basis: 600px;
        margin-right: 100px;
        text-align: center;
        padding: 55px 0 45px;
    }
    &__title {
        font-size: 26px;
        font-weight: 600;
        letter-spacing: 2.6px;
        color: #2d2b27;
    }
    &__subtitle {
        margin-top: 20px;
        font-size: 14px;
        font-weight: 600;
        letter-spacing: 5.6px;
        color: #1a1a1a;
    }
}