.button {
    margin-top: 40px;
    width: 114px;
    height: 39px;
    border-radius: 19.5px;
    background-color: #171717;
    font-size: 8.5px;
    line-height: 1.53;
    letter-spacing: 0.51px;
    text-align: center;
    color: #ffffff;
    text-transform: uppercase;
    border: none;
}