.category {
    &__menu {
        text-align: center;
    }
    &__link {
        display: flex;
        justify-content: space-around;
        list-style-type: none;
        li {
            a {
                font-size: 19px;
                font-weight: 600;
                letter-spacing: 1.9px;
                color: #2d2b27;
            }
        }
    }
    &_features {
        margin-top: 50px;
    }
}