@media (max-width: 1550px) {
    .promo {
        &__header {
            width: 560px;
        }
        &__title {
            font-size: 80px;
            letter-spacing: 2px;
        }
        &__next {
            margin-top: 20px;
        }
        &__subheader, &__icons {
            margin-top: 30px;
        }
        &__desc {
            margin: 30px 0;
        }
    }
}

@media (max-width: 1500px) {
    .products {
        width: calc(100% - 110px);
        margin: 0 auto;
        margin-top: 80px;
        .owl-nav {
            button.owl-prev, button.owl-next {
                left: -55px;
            }
            button.owl-next {
                left: auto;
                right: -55px;
            }
        }
    }
}

@media (max-width: 1400px) {
    .header {
        padding: 0 40px 0 70px;
        &__logo {
            flex-basis: 20%;
        }
        &__navigation {
            flex-basis: 58%;
        }
        &__icons {
            flex-basis: 20%;
        }
        &__search {
            input {
                right: 30px;
            }
        }
    }
    .features {
        margin: 0 auto;
        margin-top: 80px;
        width: calc(100% - 130px);
        .owl-nav {
            button.owl-prev, button.owl-next {
                left: -65px;
            }
            button.owl-next {
                left: auto;
                right: -65px;
            }
        }
    }
    .blogs {
        margin: 80px auto -190px;
        width: calc(100% - 130px);
        .owl-nav {
            button.owl-prev, button.owl-next {
                left: -65px;
            }
            button.owl-next {
                left: auto;
                right: -65px;
            }
        }
    }
}

@media (max-width: 1200px) {
    .header {
        padding: 0 20px;
        &__logo {
            flex-basis: 20%;
        }
        &__navigation {
            flex-basis: 58%;
        }
        &__icons {
            flex-basis: 20%;
        }
        &__search {
            input {
                right: 12px;
            }
        }
    }
    .promo {
        &__header {
            width: 465px;
        }
        &__title {
            font-size: 65px;
            letter-spacing: 1.5px;
        }
        &__next {
            margin-top: 25px;
        }
        &__subheader, &__icons {
            margin-top: 20px;
        }
        &__desc {
            margin: 20px 0;
        }
    }
}

@media (max-width: 992px) {
    .header {
        &__logo {
            flex-basis: 25%;
        }
        &__navigation {
            flex-basis: 60%;
        }
        &__icons {
            flex-basis: 15%;
        }
    }
    .promo {
        &__item {
            display: flex;
            justify-content: center;
            background: linear-gradient(to bottom, #c6cbce, #c7c8cc);
        }
        &__img {
            display: none;
        }
        &__block {
            padding: 40px 0;
            position: relative;
            width: 70%;
            height: auto;
            margin-left: 3.8%;
        }
        &__header {
            width: 530px;
        }
        &__title {
            font-size: 75px;
            letter-spacing: 2px;
        }
        &__subheader, &__icons {
            margin-top: 30px;
        }
        &__desc {
            width: 100%;
            margin: 30px 0;
        }
    }
    .owl-carousel .owl-item .promo__img {
        display: none;
    }
    .offers {
        margin-top: 50px;
        &__wrapper {
            margin-top: 40px;
            flex-direction: column;
            align-items: center;
        }
        &__item {
            margin-top: 10px;
        }
    }
    .products {
        margin-top: 50px;
    }
    .title {
        &_features {
            margin-top: 50px;
        }
    }
    .banner {
        background-position: -150px 0;
        &__block {
            margin-right: 0;
        }
        &_left {
            .banner__block {
                margin-left: 0;
            }
        }
    }
    .features {
        margin-top: 50px;
    }
    .blogs {
        margin-top: 50px;
    }
    .links {
        padding-top: 210px;
        padding-bottom: 50px;
        &__item {
            flex-basis: 29%;
            margin: 10px;
        }
        &__list {
            margin-top: 30px;
        }
        &__phone {
            margin-top: 30px;
        }
        &__address {
            br {
                display: none;
            }
        }
    }
}

@media (max-width: 900px) {
    .category {
        &__link {
            justify-content: center;
            flex-wrap: wrap;
            li {
                margin: 5px 10px;
            }
        }
    }
    .blogs {
        width: 95%;
        &__info {
            width: calc(100% - 30px);
            padding: 10px 5px;
        }
    }
}

@media (max-width: 820px) {
    .banner {
        margin-top: 20px;
        background: #00b7d9;
        &__block {
            flex-basis: 100%;
        }
        &_left {
            background-color: #d7dbd5;
        }
    }
}

@media (max-width: 768px) {
    .header {
        min-height: 75px;
        &__logo {
            flex-basis: 25%;
        }
        &__navigation {
            display: none;
        }
        &__icons {
            flex-basis: 20%;
        }
        &__hamburger {
            display: block;
        }
        &__search {
            input {
                right: 55px;
                top: 21px;
            }
        }
    }
    .promo {
        &__social {
            width: 5%;
        }
        &__block {
            width: 80%;
            height: auto;
            margin-left: 5%;
        }
        &__header {
            width: 455px;
        }
        &__title {
            font-size: 65px;
            letter-spacing: 1.5px;
        }
    }
}

@media (max-width: 576px) {
    .header {
        min-height: 65px;
        &__logo {
            flex-basis: 49%;
        }
        &__icons {
            flex-basis: 49%;
        }
        &__title {
            font-size: 20px;
            span {
                font-size: 9px;
            }
        }
        &__search {
            input {
                top: 16px;
            }
        }
    }
    .promo {
        &__social {
            width: 7%;
        }
        &__block {
            margin-left: 7%;
        }
        &__header {
            width: 255px;
        }
        &__title {
            font-size: 36px;
            letter-spacing: 1px;
        }
        &__arrows {
            top: -12px;
            right: 6%;
            width: 35px;
        }
        &__prev, &__next {
            font-size: 10px;
            span {
                top: -13px;
            }
        }
        &__next {
            margin-top: 23px;
        }
    }
    .offers {
        margin-top: 30px;
        &__wrapper {
            margin-top: 20px;
        }
    }
    .products {
        margin-top: 30px;
        width: 95%;
    }
    .title {
        &_features {
            margin-top: 30px;
        }
    }
    .category {
        &_features {
            margin-top: 30px;
        }
    }
    .features {
        margin-top: 30px;
    }
    .blogs {
        margin-top: 30px;
        &__block {
            margin-top: 30px;
        }
    }
    .links {
        padding-bottom: 30px;
        &__block {
            justify-content: center;
        }
        &__item {
            flex-basis: 80%;
            text-align: center;
        }
        &__address {
            br {
                display: inline;
            }
        }
    }
    .banner {
        width: 95%;
        margin: 0 auto;
        margin-top: 30px;
        &__block {
            padding: 30px 0 30px;
        }
    }
    .footer {
        padding: 30px 0 30px;
        &__logo {
            margin-top: 30px;
        }
    }
}